/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mgb-message-block label {
  color: yellow;
}
.image-holder {
  position: relative;
}

.overlay-button {
  margin-top: -36px;
  position: absolute;
  bottom: 0;
  left: 0;
}